<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
      <div class="footer" style="position: relative">
        <div class="space"></div>
        <div class="foot-content">
            <pre>版权所有 常州市天王塑业有限公司     电话：0519-83639759       传真：0519-83831228</pre>
            <pre>                                            地址：武进区邹区镇鹤溪村委    </pre>
        </div>
        <div class="skype" style="position: absolute;top: 40px;right: 200px;">
            <a href="skype:linda.masterbatch?chat">

                <img src="<%templateskin%>/images/skype.png" style="border: none; width: 50px; height: 50px" alt="My status" />
            </a>
        </div>
        <div class="Div1" style="position: absolute;top: 40px;right: 140px;">
            <a href="mailto:info@twmasterbatch.com">

                <img src="<%templateskin%>/images/Email.png" style="border: none; width: 50px; height: 50px" alt="My status" />
            </a>
        </div>
        <div class="qq"  style="position: absolute;top: 35px;right: 80px;">
            <a target="blank" href="tencent://message/?uin=251344632">

                <img src="<%templateskin%>/images/QQ.png" style="border: none; width: 50px; height: 55px" alt="My status" />
            </a>
        </div>
    </div>
    <script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
    <style>
        #skypeCheckNotice{top: 900px !important}
    </style>
</body>
</html>
