<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script type="text/javascript">

        //$(function () {
        //    var baner = document.getElementById('baner');
        //    var ul = baner.getElementsByTagName('ul')[0];
        //    var li = ul.getElementsByTagName('li');
        //    ul.innerHTML = ul.innerHTML + ul.innerHTML;
        //    ul.style.width = li[0].offsetWidth * li.length + 'px';
        //    function move() {
        //        if (ul.offsetLeft < -ul.offsetWidth / 2) {
        //            ul.style.left = '0';
        //        }
        //        if (ul.offsetLeft > 0) {
        //            ul.style.left = -ul.offsetWidth / 2 + 'px';
        //        }
        //        ul.style.left = ul.offsetLeft - 1200 + 'px';
        //    }
        //    var timer = setInterval(move, 3000);
        //    baner.onmouseover = function () {
        //        clearInterval(timer);
        //    };
        //    baner.onmouseout = function () {
        //        timer = setInterval(move, 3000);
        //    };
        //    document.getElementById('one').onclick = function () {
        //        ul.style.left = '0';
        //    };
        //    document.getElementById('two').onclick = function () {
        //        ul.style.left = -1200 + 'px';
        //    };
        //})
        //window.onload = function () {


        //};
    </script>
</head>
<body>
    <div class="header">
        <div class="logo-nav">
            <div class="logo"><a href="#">
                <img src="<%templateskin%>/images/tw_02.jpg" alt="" /></a></div>
            <div class="nav-phone">
                <div class="phone">
                    <a href="">
                        <img src="<%templateskin%>/images/tw_03.png" alt="" /></a>
                </div>
                <div class="nav">
                    <ul>
                        <li><a class="current" href="/indexEn.html">Home</a></li>
                        <li><a id="gsjj" href="/contentEn/aboutEn.html">About US</a></li>
                        <li><a id="gsdt" href="/newsEn/39.html">News</a></li>
                        <li><a id="cpsj" href="/productEn.html">Products</a></li>
                        <li><a id="wm" href="/tradeEn/51.html">Export</a></li>
                        <li><a id="contact" href="/contactEn/lianxiwomenyingwen.html">Contact US</a></li>
                        <li><a href="/index.html">中文</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div  id="baner" class="swith" style="overflow:hidden;height:350px;position:relative;left:0;top:0;">
                <!--<img src="<%templateskin%>/images/baner_03.jpg" alt=""/>-->
                <ul  style="position:absolute;left:0;top:0;padding:0;margin:0;">
                    <li style="list-style: none; float: left;" name="img1">
                        <img style="width: 1200px; height: 350px;" src="<%templateskin%>/images/baner_03.jpg"></img></li>
                   <!-- <li  style="list-style: none; float: left;" name="img2">
                        <img style="width: 1200px; height: 350px;" src="<%templateskin%>/images/swith.png"></img></li>-->
                </ul>
             <!--   <a id="one" href="javascript:;" style="width: 15px;height: 10px;left:600px;top:330px;position:absolute;text-decoration:none;background: url(<%templateskin%>/images/baner_06.png)"></a>
    	       <a id="two" href="javascript:;" style="width: 15px;height: 10px;left:620px;top:330px;position:absolute;text-decoration:none;background: url(<%templateskin%>/images/baner_06.png)"></a>-->
            </div>
             <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</body>
</html>

