<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="<%templateskin%>/js/jquery.js" type="text/javascript"></script>
    <script src="<%templateskin%>/js/index.js" type="text/javascript"></script>
    <link href="<%templateskin%>/css/index.css" type="text/css" rel="stylesheet">
    <link href="<%templateskin%>/css/news.css" type="text/css" rel="stylesheet">
    <script src="<%templateskin%>/js/base.js" type="text/javascript"></script>

    <link href="{config.webpath}css/pagination.css" type="text/css" rel="stylesheet">
    <title></title>
    <script type="text/javascript">
        $(function () {
            $('.nav li a').removeClass('current');
            $('#gsdt').addClass('current');
        });
    </script>
</head>
<body>
    <%template src="_header.html"%>
    <div class="news">
        <div class="left">
            <div class="about">

                 <h3>公司动态</h3>
                    <h4>News</h4>
                    <div onclick="location.href='/zhizhi/zhizhi.html'">
                        <pre>&bull;  企业资质</pre>
                    </div>
                    <div onclick="location.href='/news/33.html'" class="current">
                        <pre>&bull;  公司动态</pre>
                    </div>
                    <div onclick="location.href='/contact/lianxiwomen.html'">
                        <pre>&bull;  联系我们</pre>
                    </div>

            </div>
            <div>
                    <a href="/news/33.html">
                        <img src="<%templateskin%>/images/introduction/ad_06.jpg" alt="" /></a>
                </div>
                <div>
                    <a href="/contact/lianxiwomen.html">
                        <img src="<%templateskin%>/images/introduction/ad_08.jpg" alt="" /></a>
                </div>
        </div>


        <div style="width: 780px; float: left; height: auto; border: 1px solid #dfdfdf; margin-left: 20px; display: inline">

            <div class="title">
                <img src="<%templateskin%>/images/tsdt_title_01.gif" alt="" />
                <div class="location" style="float: right;float: right;border: 1px solid #dfdfdf"><span>当前位置:首页&gt;公司动态&gt;新闻详情</span></div>
            </div>
         <div class="clear"></div>
            <div class="news_content">
                <div class="meta" style="border: 1px solid #dfdfdf">
                    <h1 class="meta-tit">{model.title}</h1>
                    <p class="meta_info">
                        <span class="time">{model.add_time}</span>
                        <span></span>
                    </p>
                </div>
                <div class="entry">
                    {model.content}


                </div>

            </div>

        </div>


    </div>
    <div class="clear"></div>


    <%template src="_footer.html"%>
    
</body>
</html>
