<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="news_list" type="list" page="news_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="news_list.html" channel="news">
    <item path="news/{0}.aspx" pattern="news/(\d+).aspx" querystring="category_id=$1" />
    <item path="news/{0}/{1}.aspx" pattern="news/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="content" type="detail" page="content.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="introduction.html" channel="content">
    <item path="content/{0}.aspx" pattern="content/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="news_show" type="detail" page="news_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="news_show.html" channel="news">
    <item path="news/show-{0}.aspx" pattern="news/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="product_list_show" type="list" page="product_list_show.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="product_list_show.html">
    <item path="product/{0}.aspx" pattern="product/(\d+).aspx" querystring="category_id=$1" />
    <item path="product/{0}/{1}.aspx" pattern="product/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="product_list" type="list" page="product_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="product_list.html" channel="product">
    <item path="product.aspx" pattern="product.aspx" />
  </rewrite>
  <rewrite name="product_show" type="detail" page="product_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="product_show.html">
    <item path="photo/show-{0}.aspx" pattern="photo/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="contact" type="detail" page="contact.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="contact.html" channel="lianxiwomen">
    <item path="contact/{0}.aspx" pattern="contact/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="trade_list" type="list" page="trade.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="trade_list.html" channel="waimao">
    <item path="trade/{0}.aspx" pattern="trade/(\d+).aspx" querystring="category_id=$1" />
    <item path="trade/{0}/{1}.aspx" pattern="trade/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="trade_show" type="detail" page="trade_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="trade_show.html" channel="waimao">
    <item path="trade/show-{0}.aspx" pattern="trade/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="zhizhi" type="detail" page="zhizhi.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="zhizhi.html" channel="content">
    <item path="zhizhi/{0}.aspx" pattern="zhizhi/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="news_listEn" type="list" page="news_listEn.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="news_listEn.html" channel="NewsEn">
    <item path="newsEn/{0}.aspx" pattern="newsEn/(\d+).aspx" querystring="category_id=$1" />
    <item path="newsEn/{0}/{1}.aspx" pattern="newsEn/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="news_showEn" type="detail" page="news_showEn.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="news_showEn.html" channel="NewsEn">
    <item path="newsEn/show-{0}.aspx" pattern="newsEn/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="contactEn" type="detail" page="contactEn.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="contactEn.html" channel="lianxiwomenyingwen">
    <item path="contactEn/{0}.aspx" pattern="contactEn/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="contentEn" type="detail" page="contenEn.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="introductionEn.html" channel="contentEn">
    <item path="contentEn/{0}.aspx" pattern="contentEn/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="product_listEn" type="list" page="product_listEn.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="product_listEn.html" channel="productEn">
    <item path="productEn.aspx" pattern="productEn.aspx" />
  </rewrite>
  <rewrite name="product_list_showEn" type="list" page="product_list_showEn.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="product_list_showEn.html">
    <item path="productEn/{0}.aspx" pattern="productEn/(\d+).aspx" querystring="category_id=$1" />
    <item path="productEn/{0}/{1}.aspx" pattern="productEn/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="product_showEn" type="detail" page="product_showEn.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="product_showEn.html">
    <item path="productEn/show-{0}.aspx" pattern="productEn/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="trade_listEn" type="list" page="tradeEn.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="trade_listEn.html" channel="waimaoEn">
    <item path="tradeEn/{0}.aspx" pattern="tradeEn/(\d+).aspx" querystring="category_id=$1" />
    <item path="tradeEn/{0}/{1}.aspx" pattern="tradeEn/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="trade_showEn" type="detail" page="trade_showEn.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="trade_showEn.html" channel="waimaoEn">
    <item path="tradeEn/show-{0}.aspx" pattern="tradeEn/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="zizhiEn" type="detail" page="zizhiEn.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="zizhiEn.html" channel="contentEn">
    <item path="zizhiEn/{0}.aspx" pattern="zizhiEn/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="indexEn" type="other" page="indexEn.aspx" inherit="DTcms.Web.UI.Page.index" templet="indexEn.html">
    <item path="indexEn.aspx" pattern="indexEn.aspx" />
  </rewrite>
  <rewrite name="language" type="index" page="language.aspx" inherit="DTcms.Web.UI.Page.index" templet="language.html" />
  <rewrite name="indexzh" type="other" page="indexzh.aspx" inherit="DTcms.Web.UI.Page.index" templet="indexzh.html" />
  <rewrite name="index" type="index" page="index.aspx" inherit="DTcms.Web.UI.Page.index" templet="index.html">
    <item path="index.aspx" pattern="index.aspx" />
  </rewrite>
</urls>